Source: pluxx
Priority: optional
Maintainer: Andreas Volz <andreas.volz@tux-style.com>
Build-Depends: debhelper (>= 7), autotools-dev, cdbs, pkg-config, libtool
Standards-Version: 3.8.3
Section: libs
Homepage: http://code.google.com/p/pluxx/

Package: libpluxx-dev
Section: libdevel
Architecture: any
Depends: libpluxx1 (= ${binary:Version})
Description: pluxx, A C++ plugin loader library.
 This package contains headers and static libraries for development with libpluxx.

Package: libpluxx1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: pluxx, A C++ plugin loader library.
